# Logistic Regression

In [3]:
# import libraries
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# dataset:
df=pd.read_csv("E:/kebila/data science/Notes/ML/student_records.csv")
df

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90            85       Yes
1    John            C        N             85            51       Yes
2   David            F        N             10            17        No
3  Holmes            B        Y             75            71        No
4  Marvin            E        N             20            30        No
5   Simon            A        Y             92            79       Yes
6  Robert            B        Y             60            59        No
7   Trent            C        Y             75            33        No

In [8]:
# Feature Extraction:
independent_variables=df[['OverallGrade','Obedient','ResearchScore','ProjectScore']]
outcome_variable=df[['Recommend']]

In [9]:
independent_variables

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y             90            85
1            C        N             85            51
2            F        N             10            17
3            B        Y             75            71
4            E        N             20            30
5            A        Y             92            79
6            B        Y             60            59
7            C        Y             75            33

In [10]:
outcome_variable

  Recommend
0       Yes
1       Yes
2        No
3        No
4        No
5       Yes
6        No
7        No

In [25]:
#Data preparation:
numerical_features=['ResearchScore','ProjectScore']
numerical_features

['ResearchScore', 'ProjectScore']

In [24]:
categorical_features=df[['OverallGrade','Obedient']]
categorical_features

  OverallGrade Obedient
0            A        Y
1            C        N
2            F        N
3            B        Y
4            E        N
5            A        Y
6            B        Y
7            C        Y

In [27]:
#prepare numerical features
from sklearn.preprocessing import StandardScaler
#from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit(independent_variables[numerical_features])
independent_variables[numerical_features]=ss.transform(independent_variables[numerical_features])
independent_variables

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y       0.899583      1.376650
1            C        N       0.730648     -0.091777
2            F        N      -1.803390     -1.560203
3            B        Y       0.392776      0.772004
4            E        N      -1.465519     -0.998746
5            A        Y       0.967158      1.117516
6            B        Y      -0.114032      0.253735
7            C        Y       0.392776     -0.869179

In [28]:
#prepare categorical features
independent_variables=pd.get_dummies(independent_variables,columns=categorical_features)
#training_features = pd.get_dummies(training_features, columns=categorical_feature_names)
independent_variables

ValueError: Boolean array expected for the condition, not object